

body{

    background-color: antiquewhite;
}

.ovalo{
    margin-top: 2em;
    margin-left:33em ;
    width: 18em;
    border-radius: 200px;
    border-style: solid;
    border-color: rgb(29, 11, 11);
    background-color: rgb(250, 245, 245);
}


#logo{
   
    margin-top: 1em;
    margin-left:2em ;
    width: 15em;
    height: 5em;
}
h3{
    margin-left:20em ;
}



#tres{
    margin-left: 2em;
    width: 15em;
    height: 15em;
  margin-top: -65em;
    border-radius: 300px;
    
  
}
h1{

    margin-left:5em;
    padding: 2em;
}
.margen{

    width: 41.69em;
    height: 50em;
    border-radius: 5px;
}
p{
   
margin-left: 20em;
margin-right: 10em;
}
.blanco{


    width: 55em;
    height: 49.5em;
    background-color: rgb(145, 143, 143);
    border-radius: 5px;
}
#cuatro{
    
    width: 28.5em;
    height: 49.5em;
   margin-top: -26.5em;
    margin-left: 55em;
    border-radius: 5px;
}
#circulo{

    margin-top: -27em;
}
#cinco{
    margin-left: 2em;
    width: 15em;
    height: 15em;
    border-radius: 300px;
    margin-top: -22em;
   
}
#seis{
    margin-left: 2em;
    width: 15em;
    height: 15em;
    border-radius: 300px;
    margin-top: -18em;
    
}
.pie{
background-color: black;
width: 83.8em;
height: 10em;
 border-radius: 5px;

}
#contactanos{

    margin-top: -1em;
    margin-left: 10em;
}
.form{
    margin-top: 5em;
    margin-left: 16em;
    background-color: rgb(199, 203, 207);
    width: 50em;
    height: 50em;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border: 2px;
}
label{
    padding: 1em;
}
#margen{
    margin-left: 15em;
    border-radius: 60px;
}
#nombre{

    margin-left: 15em;
    border-radius: 60px;
}
#email{
    margin-left: 16.5em;
    border-radius: 60px;
}
textarea{
    width: 40em;
    height: 15em;
    margin-left: -15em;
    border-radius: 60px;
    justify-content: center;
}
#enviar{

    margin-left: 5em;
}
footer{

    width: 83.8em;
    height: 15em;
    background-color: black;
}
#enviar{
    margin-left: -5em;
      background-color: green;
      width: 15em;
  }

@media(max-width: 1200px) {
  
}
@media(max-width: 992px) {


}
@media(max-width: 768px) {


}
@media(max-width: 576px) {

    
    #logo{

        margin-top: 6em;
    }
 
.margen{


    margin-left: 15em;
    padding: 2em;
    height: 80em;
    width: 65em;
    border-radius: 40px;
    margin-top: 2em;

}
h3{
    margin-left: 16em;
}
h1,p{

    font-size: 40px;
}
h1{
    margin-left: 12em;
}
p{

margin-left: 17em;
margin-right: 3em;
}
#circulo{
    margin-top: 0em;

}

#cuatro{

    margin-top: -72em;
    border-radius: 20px;
  margin-left: 4em;
    height: 50em;
    width: 35em;

}
.blanco{
    margin-top: 0em;
    width:90em;
    height: 80em;
}
#tres{
    width: 30em;
    height: 30em;
   margin-top: 25em;
margin-left: -5em;
   
}
#cinco{
    margin-top: -50em;
    width: 30em;
    height: 30em;
}
#seis{
    width: 30em;
    height: 30em;
    margin-top: -30em;
}

.pie{
    width: 90em;
    height: 10em;
}
.form{

    margin-top: 120em;
    margin-left: 0em;
    width: 90em;
    height: 120em;

}
textarea{
    margin-top: 1em;
    width: 26em;
   
}
#margen{
    
    height: 5em;
    margin-left: 5em;
}
#nombre{
    margin-left: 5em;
}
#email{
    margin-left: 5em;
}
#input{

    width: 26em;
    height: 2.5em;
}
#enviar{
  margin-left: -7em;
    background-color: green;
    width: 15em;
}
#contactanos{
    font-size: 50px;
}
footer{
    width: 90em;
    height: 25em;
}
}